<h1><%= link_to 'Process Logs', process_logs_path %></h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Status</th>
      <th>Start</th>
      <th>End</th>
      <th>Elapsed</th>
      <th>Average</th>
      <th>Error</th>
    </tr>
  </thead>

  <tbody>
    <% @process_logs.each do |process_log| %>
      <tr>
        <td><%= link_to process_log.key, params.permit(:key, :status).merge(key: process_log.key) %></td>
        <td><%= link_to process_log.status, params.permit(:key, :status).merge(status: process_log.status) %></td>
        <td><%= process_log.local_start %></td>
        <td><%= process_log.local_end %></td>
        <td><%= distance_of_time_in_words(process_log.elapsed) rescue nil %></td>
        <td><%= distance_of_time_in_words(process_log.average_elapsed) rescue nil %></td>
        <td><%= link_to_if process_log.comment, process_log.comment, process_log %></td>
      </tr>
    <% end %>
  </tbody>
</table>

